/*
For anything under 400px, we have to shrink things down a bit to accommodate.
If we shrink down the cards to 80px x 80px, which isn't unreasonable, we can
fit within a 320px screen width, which is TINYYYYYY.
*/

@media screen and (max-width: 400px) {
    body,
    html,
    header,
    main {
        width: 320px;
        min-width: 320px;
    }
    .big-card-container,
    .big-card,
    .big-card-back,
    .big-card-face {
        height: 320px;
        width: 320px;
        min-height: 320px;
        min-width: 320px;
    }
    .card-container,
    .card,
    .card-back,
    .card-face {
        height: 80px;
        width: 80px;
        min-height: 80px;
        min-width: 80px;
    }
}

/*
High-level styles
*/

body,
html,
header,
main {
    margin: 0 auto;
}

header,
body {
    font-family: 'Special Elite', cursive;
    backface-visibility: hidden;
    box-sizing: border-box;
}

body {
    background: #111;
}

/*
Title card
*/

.title-card {
    position: absolute;
    box-sizing: border-box;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 100px 0 0 0;
    background: #111;
    color: #CCC;
    font-size: 3em;
    text-shadow: 0 0 20px red;
    text-align: center;
    transition: opacity 1s;
}

.title-card-visible {
    z-index: 3;
    opacity: 1;
}

.title-card-hidden {
    z-index: -1;
    opacity: 0;
}

/*
Header
*/

header {
    color: #CCC;
    text-align: center;
}

.turn-count,
.time-elapsed {
    text-shadow: 0 0 20px green;
}

/*
Big Card (High-level)
*/

.big-card-container,
.big-card,
.big-card-back,
.big-card-face {
    box-sizing: border-box;
    background: transparent;
    backface-visibility: hidden;
    min-height: 400px;
    min-width: 400px;
}

.big-card,
.big-card-back,
.big-card-face {
    height: inherit;
    width: inherit;
}

.big-card-back,
.big-card-face {
    position: absolute;
    transition: opacity 1s;
}

/*
Big Card
*/

.big-card-container {
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

.big-card {
    /* placeholder */
}

/*
Big Card Back (High-level)
*/

.card-container,
.card,
.card-back,
.card-face {
    box-sizing: border-box;
    background: transparent;
    backface-visibility: hidden;
    min-height: 100px;
    min-width: 100px;
}

.card,
.card-back,
.card-face {
    height: inherit;
    width: inherit;
}

.card-back,
.card-face {
    position: absolute;
    transition: opacity 1s;
    font-size: 3em;
    text-align: center;
    color: #CCC;
}

/*
Big Card Back - Game Board/(Small) Card
*/

.big-card-back {
    /* placeholder */
}

.game-board {
    display: table;
}

.card-row {
    display: table-row;
}

.card-container {
    display: table-cell;
    height: 100px;
    width: 100px;
}

.card {
    /* placeholder */
}

.card-back {
    line-height: 70px;
    padding: 20px 10px 10px 10px;
    text-shadow: 0 0 20px red;
}

.card-face {
    line-height: 65px;
    padding: 25px 10px 10px 10px;
    text-shadow: 0 0 20px white;
}

.is-up {
    z-index: 2;
    opacity: 1;
}

.is-down {
    z-index: 1;
    opacity: 0;
}

/*
Big Card Face (Game Win)
*/

.big-card-face {
    /* placeholder */
}

.big-card-face h3 {
    color: #CCC;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 0px 20px green;
}

.you-win {
    min-height: 50px;
    padding: 50px 0 0 0;
}

.play-rating {
    min-height: 50px;
}

.click-here {
    min-height: 200px;
}